
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>@ViewBag.Result</h4>



<form action="/Transfer/Index" method="post">
	<label name="accountNumber">From Account</label> <input type="text" name="fromAccountName" />
	<label name="tooAccount">Too Account</label> <input type="text" name="toAccountName" />
	<label name="amount">Amount</label> <input type="text" name="amount" />

	<input type="submit" name="action" value="Transfer" />
</form>